<extend name="base" />
<block name="style">
<div data-role="header">
	<h1>会员信息</h1>
</div>
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
}

</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item">daniledty</div>
<div class="ui-body ui-body-a ui-corner-all content_item">电子邮箱：daniledty@gmail.com<br>
联系方式(手机号码)：15261813178<br>
</div>
<div class="ui-body ui-body-a ui-corner-all content_item">
<div>兴趣爱好</div>
<div>
<div class="ui-btn ui-btn-inline ui-corner-all">科谱知识</div>
<div class="ui-btn ui-btn-inline ui-corner-all">前言科技</div>
<div class="ui-btn ui-btn-inline ui-corner-all">科学技术史</div>
</div>
</div>
</div>
</block>