<!DOCTYPE HTML>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="__PUBLIC__\css\themes\default\jquery.mobile-1.4.2.min.css" />
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.mobile-1.4.2.min.js"></script>

</head>
<body>
<div>
<div class="ui-field-contain" >
    <label for="expert">会员名：</label>    
    <input type="text" name="expert" />
</div>

<div class="ui-field-contain" >
    <label for="email">电子邮箱：</label>    
    <input type="text" name="email" />
</div>
<div class="ui-field-contain" >
    <label for="mobile">联系方式(手机号码)：</label>    
    <input type="text" name="mobile" />
</div>
<div>
    <fieldset data-role="controlgroup">
        <legend>兴趣爱好</legend>
        <label><input type="checkbox" name="science">科普知识</label>
        <label><input type="checkbox" name="technology">前沿科技</label>
		<label><input type="checkbox" name="history">科学技术史</label>
		 <a id="show" data-role="button" data-icon="plus">添加</a>
    </fieldset>
</div>
<a href="index" data-role="button" data-ajax="false">注册</a>
</div>
</div>
</body>