<extend name="base" />
<block name="style">
<div data-role="header">
	<h1>活动预约</h1>
</div>
</block>
<block name="content">
<div>
<div class="ui-field-contain" >
    <label for="expert">您的姓名：</label>    
    <input type="text" name="expert" />
</div>
<div>
    <fieldset data-role="controlgroup">
        <legend>性别：</legend>
        <label><input type="checkbox" name="male">男性</label>
        <label><input type="checkbox" name="female">女性</label>
    </fieldset>
</div>
<div class="ui-field-contain" >
    <label for="mobile">联系电话：</label>    
    <input type="text" name="mobile" />
</div>
<div class="ui-field-contain" >
    <label for="time">预约时间：</label>    
    <input type="text" name="time" />
</div>
<div class="ui-field-contain" >
    <label for="place">地点：</label>    
    <input type="text" name="place" />
</div>
<div class="ui-field-contain" >
    <label for="addition">附言栏：</label>    
	<br>
    <textarea name="addition" id="addition"></textarea>
</div>


<a href="reservation_info" data-role="button" data-ajax="false">提交</a>
</div>
</div>
</block>