<extend name="base" />
<block name="style">
<div data-role="header">
	<h1>预约详情</h1>
</div>
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
	line-height: 2em;
}
.content_title
{
    margin-top: 1em;
    margin-bottom: 1em;
	font-weight: bolder;
    text-align:-webkit-center;
}
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item ">预约信息</div>
<div class="ui-body ui-body-a ui-corner-all content_item">
预约人：张三<br>
预约时间：2014-08-01<br>
活动地点：南京大学鼓楼校区田家炳楼<br>南京大学地球科学博物馆<br>
负责人联系电话：13545134545<br></div>
</div>
</block>