<extend name="base" />
<block name="head">
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
}
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item">百度</div>
<div class="ui-body ui-body-a ui-corner-all content_item">百度（Nasdaq简称：BIDU）是全球最大的中文搜索引擎，2000年1月由李彦宏、徐勇两人创立于北京中关村，致力于向人们提供“简单，可依赖”的信息获取方式。“百度”二字源于中国宋朝词人辛弃疾的《青玉案·元夕》词句“众里寻他千百度”，象征着百度对中文信息检索技术的执著追求。</div>
<div class="ui-body ui-body-a ui-corner-all content_item">
<div>关注领域</div>
<div>
<div class="ui-btn ui-btn-inline ui-corner-all">计算机</div>
<div class="ui-btn ui-btn-inline ui-corner-all">生物</div>
</div>
</div>
</div>
</block>