<extend name="base" />
<block name="head">
<style>
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item">
    <label for="title">标题</label><input type="text" name="title" />
    <label for="content">内容</label><textarea name="content"></textarea>
    <label>领域</label>
    
    <div>
    <div class="ui-btn ui-btn-inline ui-corner-all">计算机</div>
    <div class="ui-btn ui-btn-inline ui-corner-all">生物</div>
    </div>
    <a href="requirement" data-role="button" >发布</a>
    
</div>
</div>
</block>