<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="__PUBLIC__\css\themes\default\jquery.mobile-1.4.2.min.css" />
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<div>
<div class="ui-field-contain">
    <label for="enterprise">企业名称</label>    
    <input type="text" name="enterprise" />
</div>
<div class="ui-field-contain">
    <fieldset data-role="controlgroup">
        <legend>兴趣领域</legend>
        <label><input type="checkbox" name="computer">计算机</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
        <label><input type="checkbox" name="biomedical">生物</label>
    </fieldset>
</div>
<div>
<a data-role="button" href="search">注册</a>
</div>
</form>
</div>
</body>
</html>