

<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="__PUBLIC__/css/themes/default/jquery.mobile-1.4.2.min.css" />
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.mobile-1.4.2.min.js"></script>
<block name="style"></block>
</head>
<body>
<div>



<block name="content"></block>

<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul class="ui-grid-b">
            <li class="ui-block-a"><a href="index" data-ajax="false">主页</a></li>
            <li class="ui-block-b"><a href="patent_issue" data-ajax="false">发布专利</a></li>
            <li class="ui-block-c"><a href="demand_seek" data-ajax="false">搜索</a></li>
        </ul>
    </div>
</div>

</div>
<block name="script"></block>
</body>
</html>