<extend name="base" />
<block name="style">
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
	line-height:2em;
}
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item">google</div>
<div class="ui-body ui-body-a ui-corner-all content_item">Google是目前世界范围内最受欢迎的基于全文检索的搜索引擎，每天处理的搜索请求高达1.5亿次！而且这一数字还在不断上升，同时Google还为Yahoo!等世界著名的门户提供后台搜索服务。庞大的用户群和人流量使得Google成为当之无愧的最佳广告媒体之一。   Google关键词广告（Google Adwords）是Google独创推出的商业推广服务。当用户在 Google 搜索关键词"汽车"时，在搜索结果页面的右侧会出现广告客户的方块广告，用户点击该广告就可以直达广告客户的网站。由于用户需求明确，只要你的产品符合他的需要，变成订单的可能性就大大增加。所以Google关键词广告无疑将成为企业最有效最直接的营销手段之一。      覆盖全球，支持多达25种语言，包括简体中文和繁体中文。Google 是由英文单词“googol”变化而来。“googol”是美国数学家 Edward Kasner的侄子 Milton Sirotta 创造的一个词，表示 1 后边带有 100 个零的数字。Google 使用这个词代表公司想征服网上无穷无尽资料的雄心。 
</div>
</div>
</block>
