<extend name="base" />
<block name="style">
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
	line-height: 2em;
}
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_item">罗军舟</div>
<div class="ui-body ui-body-a ui-corner-all content_item">罗军舟，男，1960年4月出生，博士，教授，博士生导师。82年1月获得东南大学应用数学学士学位，毕业留校于计算机系任教，先后获得计算机网络方向硕士学位和博士学位（导师：顾冠群院士）。在协议工程、网络管理、网络安全、网络教育和网络计算等领域，承担完成国家自然科学基金、国家863计划、江苏省科技攻关等14项国家和省部级项目，获得国家教育部科技进步一、二、三等奖和江苏省科技进步四等奖，发表国内外核心期刊和会议论文140余篇，其中SCI、EI和ISTP检索23篇，出版专著2本。目前，正在承担国家“十五”攻关、国家973、教育部现代远程教育和江苏省应用基础等4个国家和省部级项目，是国家“十五”重大科技攻关专项“网络教育关键技术及示范工程”总体组组长。</div>
<div class="ui-body ui-body-a ui-corner-all content_item">
<div>精通领域</div>
<div>
<div class="ui-btn ui-btn-inline ui-corner-all">计算机</div>
<div class="ui-btn ui-btn-inline ui-corner-all">网络应用</div>
</div>
</div>
</div>
</block>