<extend name="base" />
<block name="style">
<style>
.content_item
{
    margin-top: 1em;
    margin-bottom: 1em;
	line-height: 2em;
}
.content_title
{
    margin-top: 1em;
    margin-bottom: 1em;
	font-weight: bolder;
    text-align:-webkit-center;
}
</style>
</block>
<block name="content">
<div class="ui-content">
<div class="ui-body ui-body-a ui-corner-all content_title">专利信息</div>
<div class="ui-body ui-body-a ui-corner-all content_item">专利名称：基于图像处理的钓鱼网页检测方法<br>专利申请人：曹玖新，罗军舟，毛波<br>专利号：ZL 2007 1 0130809.6<br>授权公告日：2010年1月20日</div>
<div class="ui-body ui-body-a ui-corner-all content_item">
<div>所属领域</div>
<div>
<div class="ui-btn ui-btn-inline ui-corner-all">计算机</div>
<div class="ui-btn ui-btn-inline ui-corner-all">网络应用</div>
</div>
</div>
</div>
</block>